CREATE OR REPLACE FUNCTION public.get_public_schools() RETURNS TABLE (id UUID, name TEXT) LANGUAGE sql SECURITY DEFINER SET search_path = public AS \$\$ SELECT id, name FROM schools WHERE settings->>'status' IS NULL OR settings->>'status' != 'suspended' ORDER BY name; \$\$;
